/* stylelint-disable string-quotes */
/* stylelint-disable value-list-comma-newline-after */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Raleway:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;

}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
